<a href="https://colab.research.google.com/github/tanphi285/AI/blob/main/AI_Week3(26).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
with open('text.txt',mode='w') as accounts:
  accounts.write('20146513 Cao Tan Phi 10\n')
  accounts.write('20146001 Nguyen Van A 1\n')

In [111]:
with open('text2.txt', 'w') as aduvip:
    print('writing', file=aduvip)

In [ ]:
with open("text.txt", "r") as file:
  contents = file.readlines()

print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
for record in accounts:
  elements = record.split()
  mssv = elements[0]
  name = elements[1]
  score = elements[2]
  print(f'{mssv:<10}{name:<20}{score:>2}')

In [ ]:
import pandas as pd 
url = 'AI_Week3.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)
#dataframe.iloc[2]
#dataframe.iloc[0:3]

In [53]:
#dataframe = dataframe.set_index(dataframe['ID'])
#dataframe.loc[20]

In [ ]:
dataframe[dataframe['Faculty']=='BAYERN'].head(20)

In [ ]:
dataframe[(dataframe['Faculty']=='FME')&(dataframe['Name']=='Le Thanh Phuong Dat')]

In [ ]:
dataframe['Faculty'].replace('BAYERN','8-2 BARCA').head(20)

In [ ]:
dataframe.replace('FME','CKM').head(20)

In [ ]:
print('Highest scores:', dataframe['Scores'].max())

In [ ]:
print('Average score:', dataframe['Scores'].mean())

In [ ]:
dataframe['Faculty'].unique()
dataframe['Faculty'].value_counts()

In [ ]:
#Xoa du lieu
dataframe.drop('ID',axis=1).head(10)

In [ ]:
dataframe.drop(['ID','Faculty'],axis=1).head(10)

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(20)

In [ ]:
dataframe[dataframe['Faculty']!='UTE'].head(20)

In [ ]:
dataframe[dataframe.index != 1].head(20)

In [ ]:
dataframe.drop_duplicates().head(20)

In [ ]:
#nhom
url = 'AI_Week3.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

In [ ]:
dataframe.groupby('Faculty').count()

In [ ]:
dataframe.groupby(['Faculty','Scores']).count()

In [ ]:
dataframe.groupby('Faculty').head(20)

In [ ]:
dataframe.groupby('Faculty')['Scores'].count()

In [98]:
#Lay mau

In [ ]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2000',periods=1000000,freq='30s') 
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_amount'] = np.random.randint(1,10,1000000)

dataframe.resample('w').sum()

In [ ]:
dataframe.resample('2w').mean()

In [145]:
import pandas as pd

url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
95,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
96,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
97,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
98,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
99,1932,Lake Placid,Skiing,Cross Country S,FIN,18km,M,Bronze

In [ ]:
data[data['NOC']=='GER'].head(20)

In [136]:
data_GER = data[data['NOC']=='GER']

In [ ]:
data_GER[data_GER['Medal']=='Gold']

In [142]:
data_GER.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze    41    41     41          41   41     41            41
Gold      58    58     58          58   58     58            58
Silver    59    59     59          59   59     59            59

In [150]:
gold_medal = data[(data['Medal']=='Gold')&(data['Event']=='individual')]

In [153]:
gold_medal['Medal'].unique()
gold_medal['Medal'].value_counts()

Gold    65
Name: Medal, dtype: int64